/* GLOBAL STYLES
------------------------------------------------ */
body {
  font-family: 'Prompt', sans-serif;
  color: #CEE8E8;
  background: #384040;
/*  background-image: url("../images/rawpixel-618755-unsplash.jpg"); WORK ON THIS */
  padding: 10px 20px 10px 20px;
  margin: 10px;
}
a {
  color: #CEE8E8;
}
header,
nav,
main {
  padding: 8px 20px;
}

/* HEADER STYLES
------------------------------------------------ */
h1, h2 {
  font-family: 'GFS Didot', serif;
}
h1 {
  color: #6EBFBF;
  font-size: 48px;
}
h2 {
  color: #6EBFBF;
  font-size: 30px;
}
